Discord/auth.json
Telegram/auth.json
.DS_Store
Discord/node_modules/
Discord/.DS_Store
Telegram/node_modules/
Telegram/.DS_Store
Telegram/package-lock.json
Discord/package-lock.json
Discord/display.png
Telegram/display.png
*.json
!package.json
*.lock
debug.log
error.log
combined.log
